.ccf-form-wrapper {
	margin: 20px 0;

	.form-title {
		font-size: 150%;
		padding: 20px 0;
	}

	.form-description {
		padding: 0 0 20px 0;
	}

	.form-submit {
		img {
			vertical-align: middle;
			display: inline-block;
			border: 0;
			margin-left: 6px;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			-moz-opacity: 0;
			-khtml-opacity: 0;
			opacity: 0;
		}
	}

	.field {
		margin-bottom: 24px;
		clear: both;
		overflow: auto;

		&[data-field-type="dropdown"], &[data-field-type="radio"], &[data-field-type="checkboxes"], &[data-field-type="date"] {
			.error {
				float: none;
			}
		}

		.error {
			color: #ff0000;
			float: right;
			font-size: 85%;
			margin-top: 3px;

			&.match-error, &.email-error {
				float: none;
			}

			&.right-error {
				float: right;
			}
		}

		.field-error-input {
			border: 1px solid #ff0000;
		}

		label {
			display: block;
			clear: both;
			margin-bottom: 6px;
			font-weight: bold;

			.required {
				color: #ff0000;
			}
		}

		input[type="text"], textarea {
			width: 100%;
			box-sizing: border-box;
		}

		textarea {
			min-height: 100px;
			color: inherit;
			font-family: inherit;
		}

		.left {
			width: 50%;
			float: left;
			box-sizing: border-box;
			padding-right: 10px;
			clear: both;
		}

		.right {
			width: 50%;
			float: right;
			box-sizing: border-box;
			padding-left: 10px;
		}

		.sub-label {
			margin-top: 3px;
			font-size: 85%;
			clear: none;
			font-weight: normal;
		}

		&.section-header {

			.heading {
				font-size: 125%;
				border-bottom: 1px solid #ccc;
				padding-bottom: 5px;
			}

			.subheading {
				margin-top: 10px;
				font-size: 85%;
				font-style: italic;
			}
		}

		&.date {
			.hour, .minute {
				display: inline-block;
				margin-right: 5px;

				input {
					width: 2.5em;
				}

				label {
					font-weight: normal;
				}
			}

			.am-pm {
				display: inline-block;
				vertical-align: top;

				select {
					width: auto;
				}
			}
		}
	}
}