@font-face {
	font-family: 'menu';
	src:url('../../fonts/menu.eot');
	src:url('../../fonts/menu.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/menu.woff') format('woff'),
	url('../../fonts/menu.ttf') format('truetype'),
	url('../../fonts/menu.svg#form-manager') format('svg');
	font-weight: normal;
	font-style: normal;
}

#menu-posts-ccf_form {
	.wp-menu-image:before {
		font-family: 'menu';
		content: "î˜€";
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		cursor: pointer;
		-webkit-font-smoothing: antialiased;
	}
}

.ccf-subscribe.updated {
	width: 100%;
	display: block;
	box-sizing: border-box;
	border: 0;
	background-color: #FCECAD;
}

.ccf-subscribe.updated form {
	display: inline;
}

.ccf-subscribe .ad-wrap {
	margin: 0.5em 0;
	padding: 2px;
}

.ccf-subscribe input[type=email] {
	margin-left: 5px;
	margin-right: 5px;
}

#wpfooter .ccf-please-rate {
	text-align: right;
	margin-bottom: 10px;
}

#wpfooter .ccf-please-rate a {
	color: inherit;
	text-decoration: none;
}

#wpfooter .ccf-please-rate a span {
	color: #0073aa;
}

#wpfooter .ccf-please-rate a:hover span {
	color: #00a0d2;	
}

